@model Formula1.DriverActivity

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Season.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        @Html.ActionLink("Назад до списку", "Index", new { id = @ViewBag.TeamId})
    </form>
</div>
